/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  58.33% {
    transform: translateX(-100%);
  }
  66.67% {
    transform: translateX(-200%);
  }
  91.67% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}